# Test Credentials
STANDARD_USER=<your_username_here>
STANDARD_PASSWORD=<your_password_here>
LOCKED_USER=<locked_username_here>
LOCKED_PASSWORD=<locked_password_here>

# Application URL
BASE_URL=https://www.saucedemo.com

# Test Configuration
TEST_ENV=dev
TIMEOUT=30000
